@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}





body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}


body::-webkit-scrollbar-thumb {
background-color: #0fc454;
border-radius: 12px;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}


 button.normal
{
  font-size: 15px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease;
}


body {
  width: 100%;
}


/* Header Style */

#header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  
  background: #eeeeee23;
  backdrop-filter: blur(15px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header img
{
  width: 230px;
}


#navbar
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li 
{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a 
{
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #414141;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active
{
  color: #0fc454;
}

#navbar li a.active::after,
#navbar li a:hover::after
{
  content: '';
  width: 30%;
  height: 2px;
  background: #0fc454;
  position: absolute;
  bottom: -4px;
  left: 20px;
  transition: 0.3s ease;
}


#hero
{
  background-image: url(/img/thomas-van-der-vennet-FF7p8yk27gw-unsplash.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}


.content
{
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  /* backdrop-filter: blur(15px); */
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4
{
  font-size: 3rem;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
}

#hero h1
{
  font-size: 39px;
  color: #0fc454;
}

#hero h2
{
  padding-top: 12px;
  padding-bottom: 23px;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


#hero p
{
  color: rgb(194, 194, 194);
  font-size: larger;
}

#hero button
{
  background-image: url(/img/button.png);
  background-color: transparent;
  padding: 14px 80px 16px 45px;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #0fc454;
  margin-top: 22px;
}


#hero button a 
{
  text-decoration: none;
  color: #0fc454;
}


#feature
{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box 
{
  text-align: center;
  width: 180px;
  padding: 25px 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  border: 1px solid #dbdbdb;
  border-radius: 5px 20px;
  margin: 15px 0;
  transition: 0.1s ease;
}

#feature .fe-box  img
{
  width: 100%;
  height: 7rem;
}


#feature .fe-box:hover
{
  box-shadow: 10px 10px 54px rgba(91, 161, 185, 0.3);
}

#feature .fe-box h6
{
  display: inline-block;
  margin-top: 12px;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #0f7ec4;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6
{
  background-color: rgb(204, 243, 167);
}

#feature .fe-box:nth-child(3) h6
{
  background-color: rgb(187, 179, 245);
}


#feature .fe-box:nth-child(4) h6
{
  background-color: rgb(133, 255, 223);
}

#feature .fe-box:nth-child(5) h6
{
  background-color: rgb(239, 172, 243);
}



#feature .fe-box:nth-child(6) h6
{
  background-color: rgb(146, 181, 211);
}









/* Featured */



#product1
{
  text-align: center;
}

#product1 .pro-container
{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  flex-wrap: wrap;
}



#product1 .pro 
{
  width: 23%;
  min-width: 250px;
  padding: 10px 13px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
  margin: 35px 0;
  transition: 0.3s ease;
  position: relative;
}

#product1 .pro:hover
{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}



#product1 .pro img 
{
  width: 100%;
  border-radius: 10px;
}


#product1 .pro .des 
{
  text-align: start;
  padding: 12px 0;
}

#product1 .pro .des span 
{
  color: #777777f3;
  font-size: 15px;
}

#product1 .pro .des h5
{
  padding-top: 7px;
  color: #4b4b4b;
  font-size: 15px;
}

#product1 .pro .des i
{
  padding-top: 3px;
  color: rgb(243, 181, 25);
  font-size: 14px;
}

#product1 .pro .des h4
{
  padding-top: 9px;
  color: #0fc454;
  font-weight: 700;
}

#product1 .pro .cart i
{
  width: 140px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px 0;
  color: #13d62d;
  background-color: #d3eddacf;
  position: absolute;
  bottom: 16px;
  right: 15px;
  transition: 0.3s ease;
}


#product1 .pro .cart i:hover
{
  background-color: #b7eec5e1;
}




/* Make a Banner */

#banner
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width: 100%;
  height: 40vh;
}


#banner h4
{
  color: rgb(243, 243, 243);
  font-size: 20px;
}

#banner h2
{
 color: rgba(255, 247, 247, 0.59);
  padding: 25px 0;
}

#banner h2 span
{
  color: rgb(255, 255, 255);
}

button.normal:hover
{
  background-color:  #13d62d;
}

#sm-banner
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



#sm-banner .banner-box
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background: url(/img/pro/banner2.webp);
  color: white;
  background-size: cover;
  min-width: 600px;
  height: 40vh;
  padding: 30px;
}

#sm-banner h4 
{
  color: white;
  font-size: 20px;
  font-weight: 500;
}

#sm-banner h2
{
  color: white;
  font-size: 30px;
  font-weight: 800;
}


#sm-banner span
{
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 17px;
}

button.white
{
  margin-top: 13px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.3s ease;
}


#sm-banner .banner-box:hover button
{
  background:  #00ff222d;
}


#sm-banner .banner-box2
{
  background: url(/img/pro/banner1.webp) ;
  background-size: cover;
}




/* Banner 3 */
#banner3
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background: url(/img/pro/banner2.webp);
  color: white;
  background-size: cover;
  min-width: 30%;
  height: 30vh;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 h2
{
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

#banner3 h3
{
  font-size: 0.8rem;
  opacity: 0.7;
}

#banner3 .banner-box:hover 
{
  opacity: 0.9;
  cursor: pointer;
}


#banner3  .b-img1
{
  background: url(/img/pro/banner1.webp) ;
  background-size: cover;
}

#banner3  .b-img2
{
  background: url(/img/pro/iphone.webp) ;
  background-size: cover;
}

#banner3  .b-img3
{
  background: url(/img/pro/one.webp) ;
  background-size: cover;
}






/* Newslatter Style */
#newslatter
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background: rgb(255, 255, 255);
}